# Lab 4

- Name:
- USC Id:

### 1. Gene expression cancer RNA-Seq

Package Imports

In [36]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import CategoricalNB

# ===== Optional : import other libraries here ===== #

# ===== End of Optional : import other libraries here ===== #

#### Problem (a) Load the files data.csv and labels.csv

- They contain the Data Set from: https://archive.ics.uci.edu/dataset/401/gene+expression+cancer+rna+seq

- data.csv contains the genetic features for each tumor and labels.csv contains the label of each tumor. After loading the datasets, combine the data sets into a single dataframe.

In [37]:
data = None

# ===== Read the data.csv file ===== #
data = pd.read_csv('../data/data.csv', index_col = 0)

# ===== End of reading data.csv file ===== #

In [46]:
data.head()

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
sample_0,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,0.0,...,4.926711,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0
sample_1,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,0.0,...,4.593372,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0
sample_2,0.0,3.511759,4.327199,6.881787,9.870730,0.0,6.972130,0.452595,0.0,0.0,...,5.125213,8.127123,10.908640,5.401607,9.911597,9.045255,9.788359,10.090470,1.683023,0.0
sample_3,0.0,3.663618,4.507649,6.659068,10.196184,0.0,7.843375,0.434882,0.0,0.0,...,6.076566,8.792959,10.141520,8.942805,9.601208,11.392682,9.694814,9.684365,3.292001,0.0
sample_4,0.0,2.655741,2.821547,6.539454,9.738265,0.0,6.566967,0.360982,0.0,0.0,...,5.996032,8.891425,10.373790,7.181162,9.846910,11.922439,9.217749,9.461191,5.110372,0.0

In [5]:
labels = None
# ===== Read the labels.csv file ===== #

labels = pd.read_csv('../data/labels.csv', index_col = 0)

# ===== End of readsing labels.csv file ===== #

In [42]:
labels

           Class
sample_0    PRAD
sample_1    LUAD
sample_2    PRAD
sample_3    PRAD
sample_4    BRCA
...          ...
sample_796  BRCA
sample_797  LUAD
sample_798  COAD
sample_799  PRAD
sample_800  PRAD

[801 rows x 1 columns]

In [35]:
print('Class label counts:')
labels['Class'].value_counts()

Class label counts:

BRCA    300
KIRC    146
LUAD    141
PRAD    136
COAD     78
Name: Class, dtype: int64

In [94]:
# Test 1 (a) 

assert(data.shape == (801, 20531))
assert(labels.shape == (801,1))

print('Test 1 (a) Passed.')

Test 1 (a) Passed.

### Problem 1 (b): Exploratory data analysis
- Select the first 640 instances as the training set and the rest of the data as the test set.
- Encode the classes as follows BRCA = 0, KIRC = 1, COAD = 2, LUAD = 3, and PRAD = 4. You can use Ordinal Encoder.

In [48]:

training_data, training_class = None, None
test_data, test_class = None, None

# ===== split data and labels into test and train ===== #

training_data = data[:640]
training_class = labels[:640]
test_data = data[640:]
test_class = labels[640:]

# ===== End of split data and labels into test and train ===== #

# ===== Use Ordinal Encoder to encode the classes ===== #

class_mapping = {
    'BRCA': 0,
    'KIRC': 1,
    'COAD': 2,
    'LUAD': 3,
    'PRAD': 4
}


encoder = OrdinalEncoder(categories=[list(class_mapping.keys())])

training_class['Class'] = encoder.fit_transform(training_class[['Class']])
test_class['Class'] = encoder.fit_transform(test_class[['Class']])

# ===== End of Use Ordinal Encoder to encode the classes ===== #

C:\Users\LIMOS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\LIMOS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
test_data

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
sample_640,0.000000,4.681252,4.472806,5.912882,9.352975,0.0,8.681358,0.487795,0.0,0.0,...,5.985396,8.629546,10.163813,6.547317,10.004572,11.965128,10.659835,9.694387,6.898136,0.000000
sample_641,0.000000,5.047307,3.903453,6.347276,10.142324,0.0,8.441459,1.268494,0.0,0.0,...,6.645408,9.063538,10.658069,7.453353,9.746765,11.243573,9.926723,10.647971,2.730401,0.000000
sample_642,0.325156,3.031307,2.664460,6.692874,9.714276,0.0,5.735249,0.576087,0.0,0.0,...,6.535728,10.838558,9.995244,1.567156,9.852812,10.658399,10.510438,9.761541,8.542177,0.000000
sample_643,0.000000,1.548387,1.737860,6.447227,8.924501,0.0,6.167424,0.472280,0.0,0.0,...,6.838927,8.836795,9.953204,1.112300,10.287747,12.176909,9.879191,9.654976,5.298013,0.000000
sample_644,0.000000,2.585299,2.695014,6.476735,10.294655,0.0,6.790941,0.000000,0.0,0.0,...,4.750430,7.773541,10.000620,3.030071,9.400747,10.987029,9.806393,8.729587,6.045869,0.633571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sample_796,0.000000,1.865642,2.718197,7.350099,10.006003,0.0,6.764792,0.496922,0.0,0.0,...,6.088133,9.118313,10.004852,4.484415,9.614701,12.031267,9.813063,10.092770,8.819269,0.000000
sample_797,0.000000,3.942955,4.453807,6.346597,10.056868,0.0,7.320331,0.000000,0.0,0.0,...,6.371876,9.623335,9.823921,6.555327,9.064002,11.633422,10.317266,8.745983,9.659081,0.000000
sample_798,0.000000,3.249582,3.707492,8.185901,9.504082,0.0,7.536589,1.811101,0.0,0.0,...,5.719386,8.610704,10.485517,3.589763,9.350636,12.180944,10.681194,9.466711,4.677458,0.586693
sample_799,0.000000,2.590339,2.787976,7.318624,9.987136,0.0,9.213464,0.000000,0.0,0.0,...,5.785237,8.605387,11.004677,4.745888,9.626383,11.198279,10.335513,10.400581,5.718751,0.000000
sample_800,0.000000,2.325242,3.805932,6.530246,9.560367,0.0,7.957027,0.000000,0.0,0.0,...,6.403075,8.594354,10.243079,9.139459,10.102934,11.641081,10.607358,9.844794,4.550716,0.000000

In [96]:
# Test 1 (b)

assert(training_data.shape[0] == 640 and training_data.shape[1] == 20531)
assert(test_data.shape[0] == 161 and test_data.shape[1] == 20531)
assert(training_class.shape[0] == 640)
assert(test_class.shape[0] == 161)

print(f"Test 1 (b) Passed")

Test 1 (b) Passed

In [53]:
training_class

            Class
sample_0      4.0
sample_1      3.0
sample_2      4.0
sample_3      4.0
sample_4      0.0
...           ...
sample_635    3.0
sample_636    3.0
sample_637    0.0
sample_638    0.0
sample_639    0.0

[640 rows x 1 columns]

In [54]:
test_class

            Class
sample_640    4.0
sample_641    0.0
sample_642    0.0
sample_643    1.0
sample_644    3.0
...           ...
sample_796    0.0
sample_797    3.0
sample_798    2.0
sample_799    4.0
sample_800    4.0

[161 rows x 1 columns]

### Problem 1 (c) Classification using Gaussian Naive Bayes

- Use sklearnâ€™s Gaussian Naive Bayes method to build a classifier based on training data. Report the training misclassification error rate (the percentage of training data that are misclassified)

- Use sklearnâ€™s Gaussian Naive Bayes method to classify test data, using the model you developed in 1(c). Report test misclassification error rate (the percentage of training data that are misclassified).

In [58]:
# ===== Train Gaussian NB model ===== #

gnb = GaussianNB()
gnb.fit(training_data, training_class['Class'])

# ===== End of Train Gaussian NB model ===== #

training_misclassification_rate = None

# ===== Use the model to predict labels for the training data ===== #

y_pred_train = gnb.predict(training_data)
accuracy = accuracy_score(training_class, y_pred_train)
training_misclassification_rate = 1 - accuracy

# ===== End of Use the model to predict labels for the training data ===== #

print(f">>> Gaussian NB")
print(f"Training Misclassification Rate: {training_misclassification_rate}")

>>> Gaussian NB
Training Misclassification Rate: 0.0

In [59]:
test_misclassification_rate = None

# ===== Use the model to predict labels for the test data ===== #

y_pred_test = gnb.predict(test_data)
accuracy = accuracy_score(test_class['Class'], y_pred_test)
test_misclassification_rate = 1 - accuracy

# ===== End of Use the model to predict labels for the test data ===== #

print(f">>> Gaussian NB")
print(f"Test Misclassification Rate: {test_misclassification_rate}")

>>> Gaussian NB
Test Misclassification Rate: 0.21739130434782605

### Ploblem 1 (d): Classification using Bernoulli Naive Bayes

- Calculate the median of each of the gene features. Binarize the features: any feature greater or equal than the median of that feature must be converted to 1 and any feature less than or equal to the median must be converted to zero. (5 pts)

- Use sklearnâ€™s Bernoulli Na ÌˆÄ±ve Bayes method with Laplace Smoothing To build a classifier based on binarized training data. Report the training misclassification error rate (the percentage of training data that are misclassified). (20 pts)

- Use sklearnâ€™s Bernoulli Na ÌˆÄ±ve Bayes method to classify test data, using the model you developed in 1(d)ii. Report test misclassification error rate (the percentage of training data that are misclassified). (20 pts)

In [97]:
binarized_data = None
binarized_training_data = None
binarized_test_data = None

# ===== Calculate the medians for each feature in the trainind data and binarize the values for each column  ===== #

feature_medians = training_data.median()
binarized_training_data = (training_data >= feature_medians).astype(int)
binarized_test_data = (test_data >= feature_medians).astype(int)

# ===== End of Calculate the medians for each feature and binarize the values for each column  ===== #

In [98]:
binarized_training_data.head()

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
sample_0,1,0,1,0,1,1,0,1,1,1,...,0,0,0,1,0,1,0,0,1,1
sample_1,1,0,0,1,0,1,0,0,1,1,...,0,0,0,1,0,1,1,0,0,1
sample_2,1,1,1,1,1,1,0,1,1,1,...,0,0,1,0,1,0,0,1,0,1
sample_3,1,1,1,0,1,1,1,0,1,1,...,1,1,1,1,0,0,0,1,0,1
sample_4,1,0,0,0,0,1,0,0,1,1,...,1,1,1,1,1,1,0,0,0,1

In [99]:
binarized_test_data

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
sample_640,1,1,1,0,0,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1
sample_641,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,0,0,0,1,0,1
sample_642,1,0,0,1,0,1,0,1,1,1,...,1,1,0,0,1,0,1,1,1,1
sample_643,1,0,0,0,0,1,0,1,1,1,...,1,1,0,0,1,1,0,1,1,1
sample_644,1,0,0,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sample_796,1,0,0,1,1,1,0,1,1,1,...,1,1,0,0,0,1,0,1,1,1
sample_797,1,1,1,0,1,1,0,0,1,1,...,1,1,0,1,0,0,1,0,1,1
sample_798,1,1,1,1,0,1,1,1,1,1,...,0,0,1,0,0,1,1,0,0,1
sample_799,1,0,0,1,1,1,1,0,1,1,...,0,0,1,0,0,0,1,1,1,1
sample_800,1,0,1,0,0,1,1,0,1,1,...,1,0,1,1,1,0,1,1,0,1

In [100]:
assert (binarized_training_data.shape == (640,20531))
assert (binarized_test_data.shape == (161,20531))
assert (len(binarized_training_data['gene_1'].value_counts()) == 2)
print('Test Passed')

Test Passed

In [101]:
# ===== Train Bernoulli NB model ===== #

clf = BernoulliNB()
clf.fit(binarized_training_data, training_class['Class'])

# ===== End of Train Bernoulli NB model ===== #

training_misclassification_rate = None

# ===== Use the model to predict labels for the training data ===== #

y_train_pred = clf.predict(binarized_training_data)
accuracy = accuracy_score(training_class['Class'], y_train_pred)
training_misclassification_rate = 1 - accuracy

# ===== End of Use the model to predict labels for the training data ===== #

print(f">>> Bernoulli NB")
print(f"Training Misclassification Rate: {training_misclassification_rate}")

>>> Bernoulli NB
Training Misclassification Rate: 0.014062499999999978

In [81]:

test_misclassification_rate = None

# ===== Use the model to predict labels for the test data ===== #

y_pred_test = clf.predict(binarized_test_data)
accuracy = accuracy_score(test_class['Class'], y_pred_test)
test_misclassification_rate = 1 - accuracy

# ===== End of Use the model to predict labels for the test data ===== #

print(f">>> Bernoulli NB")
print(f"Test Misclassification Rate: {test_misclassification_rate}")

>>> Bernoulli NB
Test Misclassification Rate: 0.04347826086956519

### 2. Extra Credit: Categorical Naive Bayes

Create 10 equally spaced bins between the maximum and minimum of each feature in the training set and convert the features to categorical training data using those bins. Convert the test data based on the bins you calculated for training data into categorical features.

In [82]:
binned_training_data = pd.DataFrame()
binned_test_data = pd.DataFrame()

# Hint: Use np.linpsace to create bin boundaries and pd.cut to segregate data into the bins
# ===== For each feature create 10 bins using the training data and convert test and train data into categorical values  ===== #

for feature in training_data.columns:
    # Calculate the bin edges based on training data
    bin_edges = np.linspace(training_data[feature].min(), training_data[feature].max(), 10 + 1)

    # Use pandas cut to bin the training data and the same bin edges to bin the test data
    binned_training_data[feature] = pd.cut(training_data[feature], bins=bin_edges, labels=False, include_lowest=True, duplicates='drop')
    binned_test_data[feature] = pd.cut(test_data[feature], bins=bin_edges, labels=False, include_lowest=True, duplicates='drop')
    
# ===== End of For each feature create 10 bins using the training data and convert test and train data into categorical values  ===== #

C:\Users\LIMOS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if sys.path[0] == "":
C:\Users\LIMOS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  del sys.path[0]

In [83]:
binned_training_data = binned_training_data.fillna(0)
binned_test_data = binned_test_data.fillna(0)

In [84]:
# ===== Train Categorical NB model ===== #

categorical_clf = CategoricalNB()
categorical_clf.fit(binned_training_data, training_class['Class'])

# ===== End of Train Categorical NB model ===== #

CategoricalNB()

In [85]:
training_misclassification_rate = None

# ===== Use the model to predict labels for the training data ===== #

y_train_pred = categorical_clf.predict(binned_training_data)
accuracy = accuracy_score(training_class['Class'], y_train_pred)
training_misclassification_rate = 1 - accuracy

# ===== End of Use the model to predict labels for the training data ===== #

print(f">>> Categorical NB")
print(f"Training Misclassification Rate: {training_misclassification_rate}")

>>> Categorical NB
Training Misclassification Rate: 0.0015625000000000222

In [86]:
test_misclassification_rate = None

# ===== Use the model to predict labels for the test data ===== #

y_pred_test = clf.predict(binned_test_data)
accuracy = accuracy_score(test_class['Class'], y_pred_test)
test_misclassification_rate = 1 - accuracy

# ===== End of Use the model to predict labels for the test data ===== #

print(f">>> Categorical NB")
print(f"Test Misclassification Rate: {test_misclassification_rate}")

>>> Categorical NB
Test Misclassification Rate: 0.8322981366459627